.about {
  margin-bottom: 100px;
}

.about__text {
  max-width: 1235px;
}

.about__cards-wrap {
  display: flex;
  justify-content: space-between;
}

.about__colum {
  display: flex;
  flex-direction: column;
  width: calc(870 / 1770 * 100%);
}

.about__card {
  flex-grow: 1;
}

.about__card:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 1280px) {
  .about {
    margin-bottom: 80px;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .about__cards-wrap {
    flex-direction: column;
  }

  .about__colum {
    width: 100%;
  }

}

@media (max-width: 962px) {
  .about__text {
    margin-bottom: 54px;
  }
}

@media (max-width: 576px) {
  .about__text {
    margin-bottom: 14px;
  }

  .about {
    margin-bottom: 56px;
  }

}
