.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--light-gray);
  background-color: var(--black);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav {
  max-width: 252px;
  margin-right: 6.5%;
}

.footer__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 28px;
  margin-bottom: 20px;
  min-height: 72px;
}

.footer__logo-image {
  display: block;
  width: 224px;
  height: auto;
}

.footer__menu {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__menu-link {
  transition: color var(--small-duration);
  outline: none;
}

.footer__menu-link:hover {
  color: var(--default-orange);
}

.footer__menu-link:focus:not(:hover) {
  outline: 2px solid var(--default-orange);
  outline-offset: 3px;
}

.footer__menu-link:active {
  color: var(--active-orange)
}


.footer__feedback {
  width: calc(570 / 1770 * 100%);
}

.footer__about {
  width: calc(363 / 1770 * 100%);
}

.footer__btn {
  padding-left: 52px;
  padding-right: 52px;
}

@media (max-width: 1600px) {
  .footer__feedback {
    width: calc(800 / 1600 * 100%);
  }


  .footer__about {
    display: none;
  }
}

@media (max-width: 1280px) {
  .footer__feedback {
    width: calc(541 / 924 * 100%);
  }

  .footer__btn {
    padding-left: 37px;
    padding-right: 37px;
  }
}

@media (max-width: 962px) {
  .footer__container {
    padding-top: 4px;
    flex-direction: column;
  }

  .footer__nav {
    order: 1;
  }

  .footer__feedback {
    width: calc(541 / 668 * 100%);
  }

  .footer__btn {
    padding-left: 37px;
    padding-right: 37px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 26px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__feedback {
    width: 100%;
  }

  .footer__nav {
    margin-right: 0;
    align-items: center;
  }

  .footer__logo {
    margin-right: 0;
  }

  .footer__btn {
    padding: 13px 20px;
  }
}

@media (max-width: 576px) {
  .footer__logo {
    margin-bottom: 0;
  }

  .footer__logo-image {
    width: 131px;
  }
}
